<div class="row">

  <div class="col-sm-3 bg-success">

  </div>
  <div class="col-sm-9 bg-warning">

    <% @posts.each do |post| %>
      <div class="card offset-sm-2 col-sm-10 bg-light mt-4" style="width: 70%; height: 75%;">  
        <div class="card-header mt-2">
          <h2><%= link_to post.user.name, post %><span class="ml-5"><%= post.user.posts.count %>日目</span></h2>
        </div>
        <div class="card-body">
          <p><%= link_to post.detail, post %></p>
        </div>  
      </div>
    <% end %>
  </div>
</div>